<body>
  <header>
    <img src="../../assets/icon/rabbiticon.svg" alt="Icon" width="104">
    <div class="weathertime">
      <div class="weather">
        <app-svgicons [selectedSvg]="'weather'" [fillColor]="'#54565A'"></app-svgicons>
        <p>12°C</p>
      </div>
      <div class="datetime">{{ currentDateTime | date:"d-M-yyyy HH:mm:ss" }}</div>
    </div>
  </header>

  <!-- Delivery -->
  <div class="orderscheme">
    <div class="titletypeorder">
      <app-svgicons [selectedSvg]="'delivery'" [fillColor]="'#FAA419'" [svgHeight]="'24px'" [svgWidth]="'24px'">
      </app-svgicons>
      <p>Delivery</p>
      <hr>
    </div>
    <app-pickupordersdelivery [deliveryorders]="deliveryorders"></app-pickupordersdelivery>
  </div>

  <!-- Pick up -->
  <div class="orderscheme">
    <div class="titletypeorder">
      <app-svgicons [selectedSvg]="'pickup'" [fillColor]="'#FAA419'" [svgHeight]="'24px'" [svgWidth]="'24px'">
      </app-svgicons>
      <p>Pick up</p>
      <hr>
    </div>
    <app-pickuporders [pickuporders]="pickuporders"></app-pickuporders>
  </div>

  <!-- Restaurant -->
  <div class="orderscheme">
    <div class="titletypeorder">
      <app-svgicons [selectedSvg]="'restaurant'" [fillColor]="'#FAA419'" [svgHeight]="'24px'" [svgWidth]="'24px'">
      </app-svgicons>
      <p>Restaurant</p>
      <hr>
    </div>
    <app-pickupordersrestaurant [restaurantorders]="restaurantorders"></app-pickupordersrestaurant>
  </div>
</body>
