<body>
  <header>
    <img src="../../assets/icon/rabbiticon.svg" alt="Icon" width="104">
    <div class="weathertime">
      <div class="weather">
        <app-svgicons [selectedSvg]="'weather'" [fillColor]="'#54565A'"></app-svgicons>
        <p>12°C</p>
      </div>
      <div class="datetime">{{ currentDateTime | date:"d-M-yyyy HH:mm" }}</div>
    </div>
  </header>

  <!-- Delivery -->
  <div class="orderscheme">
    <div class="titletypeorder">
      <app-svgicons [selectedSvg]="'delivery'" [fillColor]="'#FAA419'"></app-svgicons>
      <p>Delivery</p>
      <hr>
    </div>
    <div class="orders-container">

      <!-- Ready -->
      <div class="ordersready">
        <div class="orderstatus">
          <app-svgicons [selectedSvg]="'check'" [fillColor]="'#FAA419'"></app-svgicons>
          <p>Ready for pick up</p>
        </div>
        <div class="orders">
          <div class="order" *ngFor="let order of deliveryOrdersReady; let i = index">
            <div class="orderheader">
              <div class="orderid">
                <app-svgicons [selectedSvg]="order.deliverycompanyicon" [fillColor]="'#000'" svgHeight="24px"
                  svgWidth="24px">
                </app-svgicons>
                <p>#{{ order.id }}</p>
              </div>
              <button class="buttonHandle">
                <div class="buttontext">
                  <app-svgicons [selectedSvg]="'check'" [fillColor]="'#fff'"></app-svgicons>
                  <p>Handle</p>
                </div>
              </button>
            </div>
            <hr>
            <div class="orderbody">
              <div class="commentanddeliveryinformation">
                <div class="comment" *ngIf="order.deliverycomment">
                  <app-svgicons [selectedSvg]="'comment'" [fillColor]="'#fff'" svgHeight="17px" svgWidth="17px">
                  </app-svgicons>
                  <p>{{ order.deliverycomment }}</p>
                </div>
                <div class="deliveryinformation">
                  <p>{{ order.address }}</p>
                  <p>{{ order.deliveryime }}</p>
                  <p>{{ order.deliveryduration }}</p>
                </div>
              </div>
            </div>
            <button class="buttonRoute">
              <div class="buttontext">
                <app-svgicons [selectedSvg]="'map'" [fillColor]="'#fff'"></app-svgicons>
                <p>Route</p>
              </div>
            </button>
          </div>
        </div>
      </div>

      <!-- Preparation -->
      <div class="orderspreparation">
        <div class="orderstatus">
          <app-svgicons [selectedSvg]="'hourglass'" [fillColor]="'#FAA419'"></app-svgicons>
          <p>In preparation</p>
        </div>
        <div class="orders">
          <div class="order" *ngFor="let order of deliveryOrdersPreparation; let i = index">
            <div class="orderheader">
              <div class="orderid">
                <app-svgicons [selectedSvg]="order.deliverycompanyicon" [fillColor]="'#000'" svgHeight="24px"
                  svgWidth="24px">
                </app-svgicons>
                <p>#{{ order.id }}</p>
              </div>
              <button class="buttonHandle">
                <div class="buttontext">
                  <app-svgicons [selectedSvg]="'check'" [fillColor]="'#fff'"></app-svgicons>
                  <p>Handle</p>
                </div>
              </button>
            </div>
            <hr>
            <div class="orderbody">
              <div class="commentanddeliveryinformation">
                <div class="comment" *ngIf="order.deliverycomment">
                  <app-svgicons [selectedSvg]="'comment'" [fillColor]="'#fff'" svgHeight="17px" svgWidth="17px">
                  </app-svgicons>
                  <p>{{ order.deliverycomment }}</p>
                </div>
                <div class="deliveryinformation">
                  <p>{{ order.address }}</p>
                  <p>{{ order.deliveryime }}</p>
                  <p>{{ order.deliveryduration }}</p>
                </div>
              </div>
            </div>
            <button class="buttonRoute">
              <div class="buttontext">
                <app-svgicons [selectedSvg]="'map'" [fillColor]="'#fff'"></app-svgicons>
                <p>Route</p>
              </div>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Pick up -->
  <div class="orderscheme">
    <div class="titletypeorder">
      <app-svgicons [selectedSvg]="'pickup'" [fillColor]="'#FAA419'"></app-svgicons>
      <p>Pick</p><span>up</span>
      <hr>
    </div>
    <div class="orders-container">

      <!-- Ready -->
      <div class="ordersready">
        <div class="orderstatus">
          <app-svgicons [selectedSvg]="'check'" [fillColor]="'#FAA419'"></app-svgicons>
          <p>Ready for pick up</p>
        </div>
        <div class="orders">
          <div class="order" *ngFor="let order of pickupOrdersReady; let i = index">
            <div class="orderheader">
              <p>#{{ order.id }}</p>
              <button class="buttonHandle">
                <div class="buttontext">
                  <app-svgicons [selectedSvg]="'check'" [fillColor]="'#fff'"></app-svgicons>
                  <p>Handle</p>
                </div>
              </button>
            </div>
            <hr>
            <div class="orderbody">
              <div class="commentanddeliveryinformation">
                <div class="comment" *ngIf="order.deliverycomment">
                  <app-svgicons [selectedSvg]="'comment'" [fillColor]="'#fff'" [svgHeight]="'16px'" [svgWidth]="'16px'">
                  </app-svgicons>
                  <p>{{ order.deliverycomment }}</p>
                </div>
                <div class="dishes" *ngFor="let dish of order.dishes | slice:0:3">
                  <div class="amountdishes">
                    <p>{{ dish.quantity }}x </p>
                    <div class="dishnameoption">
                      <p>{{ dish.name }}</p>
                      <span *ngIf="dish.option">- {{ dish.option }}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <button class="buttonRoute">
              <div class="buttontext">
                <app-svgicons [selectedSvg]="'map'" [fillColor]="'#fff'"></app-svgicons>
                <p>Route</p>
              </div>
            </button>
          </div>
        </div>
      </div>

      <!-- Preparation -->
      <div class="orderspreparation">
        <div class="orderstatus">
          <app-svgicons [selectedSvg]="'hourglass'" [fillColor]="'#FAA419'"></app-svgicons>
          <p>In preparation</p>
        </div>
        <div class="orders">
          <div class="order" *ngFor="let order of pickupOrdersPreparation; let i = index">
            <div class="orderheader">
              <p>#{{ order.id }}</p>
              <button class="buttonHandle">
                <div class="buttontext">
                  <app-svgicons [selectedSvg]="'check'" [fillColor]="'#fff'"></app-svgicons>
                  <p>Handle</p>
                </div>
              </button>
            </div>
            <hr>
            <div class="orderbody">
              <div class="commentanddeliveryinformation">
                <div class="comment" *ngIf="order.deliverycomment">
                  <app-svgicons [selectedSvg]="'comment'" [fillColor]="'#fff'" [svgHeight]="'16px'" [svgWidth]="'16px'">
                  </app-svgicons>
                  <p>{{ order.deliverycomment }}</p>
                </div>
                <div class="dishes" *ngFor="let dish of order.dishes | slice:0:3">
                  <div class="amountdishes">
                    <p>{{ dish.quantity }}x </p>
                    <div class="dishnameoption">
                      <p>{{ dish.name }}</p>
                      <span *ngIf="dish.option">- {{ dish.option }}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <button class="buttonRoute">
              <div class="buttontext">
                <app-svgicons [selectedSvg]="'information'" [fillColor]="'#fff'"></app-svgicons>
                <p>View more</p>
              </div>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
