$primary-500: #FAA419;
$secondary-500: #54565A;
$secondary-300: #87898C;
$success-border: #4CAF50;
$info-border: #2196F3;
$white: #fff;
$dark-500: #1C1B20;
$order-ready: #4caf4f36;
$greynavbar: #EBEBEB;
$restaurant: #16A9D7;
$pickup: #EBC500;
$delivery: #8A2BE2;
$warning-border: #FF5722;

.orders-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;

  .orders {
    display: flex;
    gap: 16px;

    .orderstatus {
      display: flex;
      flex-direction: row;
      font-size: 18px;
      gap: 5px;
    }
  }
}

.order {
  width: 305px;
  height: 450px;
  padding: 16px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  color: $dark-500;
  border: 1px solid $delivery;
  background-color: #892be215;
  overflow: hidden;
  position: relative;

  @media only screen and (max-width: 1920px) {
    width: 295px;
  }

  &.transit {
    gap: 8px;

    hr {
      border: none;
      border-top: 1px solid $delivery
    }
  }

  .orderheader {
    display: flex;
    flex-direction: column;
    gap: 2px;

    .headerrow {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      font-size: 16px;
      font-weight: normal;

      &.transit {
        height: 52px;
      }

      .ordertype {
        display: flex;
        flex-direction: row;
        gap: 6px;
        align-items: center;

        .orderfirstrow {
          display: flex;
          flex-direction: row;
          gap: 5px;
          flex: 1;

          .ordertype-id {
            display: flex;
            flex-direction: row;
            gap: 5px;
          }
        }

        .namecustomer {
          font-size: 12px;
          color: $secondary-300;
          font-weight: normal;
        }

        .orderedtime {
          font-size: 12px;
          color: $secondary-300;
          font-weight: normal;
        }

        .address {
          font-size: 12px;
          color: $secondary-300;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          width: 172px;
          font-weight: normal;

          &.transit {
            width: 100%;
          }
        }
      }

      .returntime {
        font-size: 12px;
        color: $secondary-300;

        &.transit {
          font-size: 12px;
          color: $white;
          padding: 2px 6px;
          border-radius: 15px;
          background-color: $delivery;
        }
      }

      .pickuptime {
        font-size: 12px;
        color: $white;
        padding: 2px 6px;
        border-radius: 15px;

        &.transit {
          color: $secondary-300;
          padding: 0;
          font-weight: normal;
        }
      }

      .pickuptime-delivery {
        background-color: $delivery;
      }

      .pickuptime-pickup {
        background-color: $pickup;
      }

      .pickuptime-restaurant {
        background-color: $restaurant;
      }

      .table-number {
        display: flex;
        flex-direction: row;
        gap: 10px;
      }
    }
  }

  .orderbody {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    flex-grow: 1;
    gap: 12px;
    position: relative;
    position: relative;
    overflow: hidden;

    .commentandorderinformation {
      display: flex;
      flex-direction: column;
      gap: 6px;
      position: relative;

      .comment {
        background-color: $info-border;
        border-radius: 5px;
        padding: 7px;
        color: $white;
        font-size: 13px;
        font-weight: 400;
        display: flex;
        flex-direction: row;
        gap: 5px;
      }

      .deliveryinformation {
        display: flex;
        flex-direction: column;
        font-size: 13px;
        gap: 6px;
      }

      .dishes {
        display: flex;
        flex-direction: row;
        gap: 10px;
        font-weight: 500;
        align-items: flex-start;

        .amountdishes {
          display: flex;
          flex-direction: row;
          gap: 10px;

          .dishnameoption {
            display: flex;
            flex-direction: column;

            span {
              font-size: 14px;
              font-weight: normal;
              color: $secondary-300;
            }
          }
        }
      }
    }
  }
}

.delivery-order {
  background-color: #892be215;
  border: 1px solid $delivery;

  hr {
    border: none;
    border-top: 1px solid $delivery
  }
}

.pickup-order {
  background-color: #ebc40018;
  border: 1px solid $pickup;

  hr {
    border: none;
    border-top: 1px solid $pickup;
  }
}

.restaurant-order {
  background-color: #16aad712;
  border: 1px solid $restaurant;

  hr {
    border: none;
    border-top: 1px solid $restaurant;
  }
}

.overlay {
  position: absolute;
  bottom: 65px;
  left: 0;
  right: 0;
  height: 10%;
  pointer-events: none;
  align-items: center;
  display: flex;
  justify-content: center;
  justify-items: center;
}

.overlay-delivery {
  background: linear-gradient(to bottom, #f5eefdc4, #f5eefd);
}

.overlay-pickup {
  background: linear-gradient(to bottom, #fdf9e7b3, #FDF9E7);
}

.overlay-restaurant {
  background: linear-gradient(to bottom, #eff9fcbb, #EFF9FC);
}

.ellipsis {
  display: none;
}

.buttonsOrder {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .buttonRecover,
  .buttonViewMore {
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    padding: 5px 7px 5px 7px;
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3px;
  }

  .buttonRecover {
    background-color: $warning-border;
    color: $white;
  }

  .buttonViewMore {
    background-color: $primary-500;
    color: $white;
  }
}

.fade-out {
  animation: fadeOut 2s forwards;
}

.align-end {
  justify-content: flex-end;
}

.modal {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  justify-items: center;
  flex-direction: column;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);

  .modalcontent {
    display: flex;
    flex-direction: column;
    padding: 32px 24px 32px 24px;
    border-radius: 10px;
    width: 40%;
    font-size: 18px;
    gap: 12px;

    .modalheader {
      display: flex;
      flex-direction: column;
      gap: 4px;

      .modalheaderrow {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 24px;
        font-weight: normal;

        .modalordertype {
          display: flex;
          flex-direction: row;
          gap: 10px;
          align-items: center;
          font-size: 24px;
        }
      }

      .modalheadersecondrow {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .orderedtime {
          color: $secondary-300;
          font-size: 16px;
        }

        .pickuptime {
          font-size: 16px;
          color: $white;
          padding: 2px 6px;
          border-radius: 15px;
          background-color: $delivery;
          font-weight: 500;
        }
  
        .pickuptime-delivery {
          background-color: $delivery;
        }
  
        .pickuptime-pickup {
          background-color: $pickup;
        }
  
        .pickuptime-restaurant {
          background-color: $restaurant;
        }
      }

      .modalheaderthirdrow {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: $secondary-300;
        font-size: 16px;
        gap: 4px;
      }
    }

    .table-number {
      display: flex;
      flex-direction: row;
      gap: 10px;
      font-size: 20px;
    }

    .namecustomer {
      font-size: 14px;
      color: $secondary-300;
      font-weight: normal;
    }

    .address {
      font-size: 14px;
      color: $secondary-300;
      font-weight: normal;
    }

    .buttonclose {
      display: flex;
      justify-content: flex-end;

      .closeIcon {
        cursor: pointer;
      }
    }

    .commentandorderinformation {
      display: flex;
      flex-direction: column;
      gap: 16px;
      position: relative;

      .comment {
        background-color: $info-border;
        border-radius: 5px;
        padding: 7px;
        color: $white;
        font-size: 18px;
        font-weight: 400;
        display: flex;
        flex-direction: row;
        gap: 5px;
        padding: 10px 6px;
      }

      .deliveryinformation {
        display: flex;
        flex-direction: column;
        font-size: 13px;
        gap: 6px;
      }

      .dishes {
        display: flex;
        flex-direction: row;
        gap: 10px;
        font-weight: 500;
        align-items: flex-start;

        .amountdishes {
          display: flex;
          flex-direction: row;
          gap: 10px;

          .dishnameoption {
            display: flex;
            flex-direction: column;
            gap: 6px;

            span {
              font-size: 18px;
              font-weight: normal;
              color: $secondary-300;
            }
          }
        }
      }
    }
  }
}

.modal-delivery-order {
  background-color: #F5EEFD;
  border: 1px solid $delivery;

  hr {
    border: none;
    border-top: 1px solid $delivery
  }
}

.modal-pickup-order {
  background-color: #FDF9E7;
  border: 1px solid $pickup;

  hr {
    border: none;
    border-top: 1px solid $pickup;
  }
}

.modal-restaurant-order {
  background-color: #EFF9FC;
  border: 1px solid $restaurant;

  hr {
    border: none;
    border-top: 1px solid $restaurant;
  }
}