<div class="orders-container">
  <div class="orders" *ngFor="let order of orders | slice:0:14">
    <div class="order"
      [ngClass]="{'delivery-order': order.type === 'Delivery', 'restaurant-order': order.type === 'Restaurant', 'pickup-order': order.type === 'Pick up'}">
      <div class="orderheader">
        <div class="headerrow">
          <div class="ordertype">
            <app-svgicons *ngIf="order.deliverycompanyicon" [selectedSvg]="order.deliverycompanyicon"
              [fillColor]="'#000'" svgHeight="30px" svgWidth="30px"></app-svgicons>
            <app-svgicons [selectedSvg]="getIcon(order.type)" [fillColor]="'#000'" [svgHeight]="'18px'">
            </app-svgicons>
            <p *ngIf="order.type !== 'Restaurant'">{{ order.type }}</p>
            <p>{{ order.tablenumber }}</p>
          </div>
          <p>#{{ order.id }}</p>
        </div>
        <div class="headerrow">
          <div class="ordertype">
            <p class="orderedtime">{{ order.orderedtime }}</p>
          </div>
        </div>
        <div class="headerrow">
          <div class="ordertype">
            <p class="namecustomer" *ngIf="order.type !== 'Delivery' && order.type !== 'Restaurant'">
              {{ order.namecustomer }}</p>
            <p *ngIf="order.address" class="address">{{ order.address }}</p>
          </div>
          <p class="pickuptime" *ngIf="order.type !== 'Restaurant'"
            [ngClass]="{'pickuptime-delivery': order.type === 'Delivery', 'pickuptime-restaurant': order.type === 'Restaurant', 'pickuptime-pickup': order.type === 'Pick up'}">
            Pick up: {{ order.pickuptime }}</p>
        </div>
      </div>
      <hr>
      <div class="orderbody">
        <div class="commentandorderinformation" #commentandorderinformation>
          <div class="comment" *ngIf="order.comment">
            <app-svgicons [selectedSvg]="'comment'" [fillColor]="'#fff'" svgHeight="16px" svgWidth="16px">
            </app-svgicons>
            <p>{{ order.comment }}</p>
          </div>
          <div class="dishes" *ngFor="let dish of order.dishes">
            <div class="amountdishes">
              <p>{{ dish.quantity }}x</p>
              <div class="dishnameoption">
                <p>{{ dish.name }}</p>
                <span *ngFor="let option of dish.option">- {{ option }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="overlay"
        [ngClass]="{'overlay-delivery' : order.type === 'Delivery', 'overlay-pickup' : order.type === 'Pick up', 'overlay-restaurant' : order.type === 'Restaurant' }">
        <p class="ellipsis" #ellipsis>...</p>
      </div>
      <hr>
      <div class="buttonsOrder">
        <div class="buttonRecover">
          <app-svgicons [selectedSvg]="'history'" [fillColor]="'#fff'"></app-svgicons>
          <p>Recover</p>
        </div>
        <div class="buttonViewMore" #buttonViewMore
          [attr.data-order-type]="order.type"
          (click)="openModal(order)">
          <app-svgicons [selectedSvg]="'information'" [fillColor]="'#fff'"></app-svgicons>
          <p>View more</p>
        </div>
      </div>
    </div>
  </div>
</div>

@if (modalVisible != null) {
<!-- Modal -->
<div class="modal">
  <div class="modalcontent"
    [ngClass]="{'modal-delivery-order': modalVisible.type === 'Delivery', 'modal-restaurant-order': modalVisible.type === 'Restaurant', 'modal-pickup-order': modalVisible.type === 'Pick up'}">
    <div class="buttonclose">
      <app-svgicons [selectedSvg]="'close'" [fillColor]="'#FAA419'" svgHeight="24px" svgWidth="24px"
        (click)="closeModal()" class="closeIcon">
      </app-svgicons>
    </div>
    <div class="modalheader">
      <div class="modalheaderrow">
        <div class="modalordertype">
          <app-svgicons *ngIf="modalVisible.deliverycompanyicon" [selectedSvg]="modalVisible.deliverycompanyicon"
            [fillColor]="'#000'" svgHeight="24px" svgWidth="24px">
          </app-svgicons>
          <app-svgicons [selectedSvg]="getIcon(modalVisible.type)" [fillColor]="'#000'" svgHeight="30px"
            svgWidth="30px">
          </app-svgicons>
          <p *ngIf="modalVisible.type">{{ modalVisible.type }}</p>
        </div>
        <p>#{{ modalVisible.id }}</p>
      </div>
      <div class="modalheadersecondrow">
        <p class="orderedtime" *ngIf="modalVisible.orderedtime && modalVisible.orderedtime !== 'Restaurant'">
          Ordered: {{ modalVisible.orderedtime }}
        </p>
        <p class="pickuptime"
          [ngClass]="{'pickuptime-delivery': modalVisible.type === 'Delivery', 'pickuptime-restaurant': modalVisible.type === 'Restaurant', 'pickuptime-pickup': modalVisible.type === 'Pick up'}">
          Pick up: {{ modalVisible.pickuptime }}
        </p>
      </div>
      <div class="modalheaderthirdrow">
        <p *ngIf="modalVisible.returntime">Pick up: {{modalVisible.pickuptime}}</p>
        <p *ngIf="modalVisible.address">Adres: {{ modalVisible.address }}</p>
        <p *ngIf="modalVisible.namecustomer">Naam: {{ modalVisible.namecustomer }}</p>
        <p *ngIf="modalVisible.namecustomer">E-mail: {{ modalVisible.email }}</p>
        <p *ngIf="modalVisible.namecustomer">T: {{ modalVisible.phonenumber }}</p>
      </div>
    </div>
    <hr>
    <div class="modalbody">
      <div class="commentandorderinformation">
        <div class="comment" *ngIf="modalVisible.comment">
          <app-svgicons [selectedSvg]="'comment'" [fillColor]="'#fff'" svgWidth="24px" svgHeight="24px">
          </app-svgicons>
          <p>{{ modalVisible.comment }}</p>
        </div>
        <div class="dishes" *ngFor="let dish of modalVisible.dishes">
          <div class="amountdishes">
            <p>{{ dish.quantity }}x</p>
            <div class="dishnameoption">
              <p>{{ dish.name }}</p>
              <span *ngFor="let option of dish.option">- {{ option }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
}
