<body>
  <header>
    <img src="../../assets/icon/rabbiticon.svg" alt="Icon" width="104">
    <div class="buttonsNavbar">
      <div class="buttonCurrent active">
        <app-svgicons [selectedSvg]="'current'" [fillColor]="'#FAA419'"></app-svgicons>
        <p>Current</p>
      </div>
      <div class="buttonHistory">
        <app-svgicons [selectedSvg]="'history'" [fillColor]="'#FAA419'"></app-svgicons>
        <p>History</p>
      </div>
      <div class="buttonCouriers">
        <app-svgicons [selectedSvg]="'delivery'" [fillColor]="'#FAA419'"></app-svgicons>
        <p>Couriers</p>
      </div>
    </div>
    <input type="search" class="searchbar" placeholder="Search...">
    <div class="buttonsFilter">
      <div class="totalOrders">
        <app-svgicons [selectedSvg]="'total'" [fillColor]="'#fff'"></app-svgicons>
        <p>Total orders 15 / Last week 50</p>
        <app-svgicons [selectedSvg]="'filter'" [fillColor]="'#fff'"></app-svgicons>
      </div>
      <div class="filterRestaurant">
        <app-svgicons [selectedSvg]="'restaurant'" [fillColor]="'#fff'"></app-svgicons>
        <p>Restaurant</p>
        <p>2</p>
        <app-svgicons [selectedSvg]="'filter'" [fillColor]="'#fff'"></app-svgicons>
      </div>
      <div class="filterPickup">
        <app-svgicons [selectedSvg]="'pickup'" [fillColor]="'#fff'"></app-svgicons>
        <p>Pick up</p>
        <p>3</p>
        <app-svgicons [selectedSvg]="'filter'" [fillColor]="'#fff'"></app-svgicons>
      </div>
      <div class="filterDelivery">
        <app-svgicons [selectedSvg]="'delivery'" [fillColor]="'#fff'"></app-svgicons>
        <p>Delivery</p>
        <p>7</p>
        <app-svgicons [selectedSvg]="'filter'" [fillColor]="'#fff'"></app-svgicons>
      </div>
    </div>
    <div class="weathertime">
      <div class="weather">
        <app-svgicons [selectedSvg]="'weather'" [fillColor]="'#54565A'"></app-svgicons>
        <p>12°C</p>
      </div>
      <div class="datetime">{{ currentDateTime | date:"d-M-yyyy HH:mm" }}</div>
    </div>
  </header>

  <!-- In preparation -->
  <div class="orderscheme">
    <div class="titletypeorder">
      <app-svgicons [selectedSvg]="'hourglass'" [fillColor]="'#FAA419'" [svgHeight]="'24px'" [svgWidth]="'24px'">
      </app-svgicons>
      <p>In preparation</p>
      <hr>
    </div>
    <div class="orders-container">
      <div class="orders" *ngFor="let order of inpreparationorders | slice:0:6">
        <div class="order"
          [ngClass]="{'delivery-order': order.type === 'Delivery', 'restaurant-order': order.type === 'Restaurant', 'pickup-order': order.type === 'Pick up'}">
          <div class="orderheader">
            <div class="ordertype">
              <div class="ordertype-icon">
                <app-svgicons *ngIf="order.deliverycompanyicon" [selectedSvg]="order.deliverycompanyicon" [fillColor]="'#000'" [svgHeight]="'24px'"
                  [svgWidth]="'24px'">
                </app-svgicons>
                <app-svgicons [selectedSvg]="getIcon(order.type)" [fillColor]="'#000'" [svgHeight]="'18px'"
                  [svgWidth]="'18px'"></app-svgicons>
                <p *ngIf="order.type !== 'Restaurant'">{{ order.type }}</p>
                <p>{{ order.tablenumber }}</p>
              </div>
              <p class="namecustomer" *ngIf="order.type !== 'Delivery'">{{ order.namecustomer }}</p>
              <p class="address">{{ order.address }}</p>
            </div>
            <div class="orderinformation">
              <p>#{{ order.id }}</p>
              <p class="pickuptime"
                [ngClass]="{'pickuptime-delivery': order.type === 'Delivery', 'pickuptime-restaurant': order.type === 'Restaurant', 'pickuptime-pickup': order.type === 'Pick up'}">
                Pick up: {{ order.pickuptime }}</p>
            </div>
          </div>
          <hr>
          <div class="orderbody">
            <div class="commentandorderinformation">
              <div class="comment" *ngIf="order.comment">
                <app-svgicons [selectedSvg]="'comment'" [fillColor]="'#fff'" [svgHeight]="'16px'" [svgWidth]="'16px'">
                </app-svgicons>
                <p>{{ order.comment }}</p>
              </div>
              <div class="dishes" *ngFor="let dish of (order.dishes.length > 0) && !order.comment ? order.dishes.slice(0, 4) : order.dishes.slice(0, 3)">
                <div class="amountdishes">
                  <p>{{ dish.quantity }}x</p>
                  <div class="dishnameoption">
                    <p>{{ dish.name }}</p>
                    <span *ngIf="dish.option">- {{ dish.option }}</span>
                  </div>
                  <div class="overlay" [ngClass]="{'overlay-delivery' : order.type === 'Delivery', 'overlay-pickup' : order.type === 'Pick up', 'overlay-restaurant' : order.type === 'Restaurant' }" *ngIf="order.dishes.length > 3"></div>
                </div>
                <p class="ellipses" *ngIf="order.dishes.length > 3">...</p>
              </div>
            </div>
          </div>
          <div class="buttonsOrder" [ngClass]="{'align-end' : !showRecoverButton}">
            <div class="buttonRecover" *ngIf="showRecoverButton">
              <app-svgicons [selectedSvg]="'history'" [fillColor]="'#fff'"></app-svgicons>
              <p>Recover</p>
            </div>
            <div class="buttonViewMore" *ngIf="order.type !== 'Restaurant'" (click)="openModal(order)">
              <app-svgicons [selectedSvg]="'information'" [fillColor]="'#fff'"></app-svgicons>
              <p>View more</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Ready for pick up -->
  <div class="orderscheme">
    <div class="titletypeorder">
      <app-svgicons [selectedSvg]="'check'" [fillColor]="'#FAA419'" [svgHeight]="'24px'" [svgWidth]="'24px'">
      </app-svgicons>
      <p>Ready for pick up</p>
      <hr>
    </div>
    <div class="orders-container">
      <div class="orders" *ngFor="let order of readyforpickuporders | slice:0:6">
        <div class="order"
          [ngClass]="{'delivery-order': order.type === 'Delivery', 'restaurant-order': order.type === 'Restaurant', 'pickup-order': order.type === 'Pick up'}">
          <div class="orderheader">
            <div class="ordertype">
              <div class="ordertype-icon">
                <app-svgicons *ngIf="order.deliverycompanyicon" [selectedSvg]="order.deliverycompanyicon" [fillColor]="'#000'" [svgHeight]="'24px'"
                  [svgWidth]="'24px'">
                </app-svgicons>
                <app-svgicons [selectedSvg]="getIcon(order.type)" [fillColor]="'#000'" [svgHeight]="'18px'"
                  [svgWidth]="'18px'"></app-svgicons>
                <p *ngIf="order.type !== 'Restaurant'">{{ order.type }}</p>
                <p>{{ order.tablenumber }}</p>
              </div>
              <p class="namecustomer" *ngIf="order.type !== 'Delivery'">{{ order.namecustomer }}</p>
              <p class="address">{{ order.address }}</p>
            </div>
            <div class="orderinformation">
              <p>#{{ order.id }}</p>
              <p class="pickuptime"
                [ngClass]="{'pickuptime-delivery': order.type === 'Delivery', 'pickuptime-restaurant': order.type === 'Restaurant', 'pickuptime-pickup': order.type === 'Pick up'}">
                Pick up: {{ order.pickuptime }}</p>
            </div>
          </div>
          <hr>
          <div class="orderbody">
            <div class="commentandorderinformation">
              <div class="comment" *ngIf="order.comment">
                <app-svgicons [selectedSvg]="'comment'" [fillColor]="'#fff'" [svgHeight]="'16px'" [svgWidth]="'16px'">
                </app-svgicons>
                <p>{{ order.comment }}</p>
              </div>
              <div class="dishes" *ngFor="let dish of (order.dishes.length > 0) && !order.comment ? order.dishes.slice(0, 4) : order.dishes.slice(0, 3)">
                <div class="amountdishes">
                  <p>{{ dish.quantity }}x</p>
                  <div class="dishnameoption">
                    <p>{{ dish.name }}</p>
                    <span *ngIf="dish.option">- {{ dish.option }}</span>
                  </div>
                  <div class="overlay" [ngClass]="{'overlay-delivery' : order.type === 'Delivery', 'overlay-pickup' : order.type === 'Pick up', 'overlay-restaurant' : order.type === 'Restaurant' }" *ngIf="order.dishes.length > 3"></div>
                </div>
                <p class="ellipses" *ngIf="order.dishes.length > 3">...</p>
              </div>
            </div>
          </div>
          <div class="buttonsOrder">
            <div class="buttonRecover">
              <app-svgicons [selectedSvg]="'history'" [fillColor]="'#fff'"></app-svgicons>
              <p>Recover</p>
            </div>
            <div class="buttonViewMore" *ngIf="order.type !== 'Restaurant'" (click)="openModal(order)">
              <app-svgicons [selectedSvg]="'information'" [fillColor]="'#fff'"></app-svgicons>
              <p>View more</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- In transit -->
  <div class="orderscheme">
    <div class="titletypeorder">
      <app-svgicons [selectedSvg]="'delivery'" [fillColor]="'#FAA419'" [svgHeight]="'24px'" [svgWidth]="'24px'">
      </app-svgicons>
      <p>In transit</p>
      <hr>
    </div>
    <div class="orders-container">
      <div class="orders" *ngFor="let order of intransitorders | slice:0:6">
        <div class="order transit">
          <div class="orderheader transit">
            <div class="ordertype">
              <div class="ordertype-icon">
                <app-svgicons *ngIf="order.deliverycompanyicon" [selectedSvg]="order.deliverycompanyicon" [fillColor]="'#000'" [svgHeight]="'24px'"
                  [svgWidth]="'24px'">
                </app-svgicons>
                <app-svgicons [selectedSvg]="getIcon(order.type)" [fillColor]="'#000'" [svgHeight]="'18px'"
                  [svgWidth]="'18px'"></app-svgicons>
                <p>{{ order.type }}</p>
                <p>{{ order.tablenumber }}</p>
              </div>
              <p class="namecustomer" *ngIf="order.type !== 'Delivery'">{{ order.namecustomer }}</p>
              <p class="address">{{ order.address }}</p>
              <p class="returntime"> Pick up: {{ order.returntime }}</p>
            </div>
            <div class="orderinformation">
              <p>#{{ order.id }}</p>
              <p class="pickuptime"
                [ngClass]="{'pickuptime-delivery': order.type === 'Delivery'}">
                Pick up: {{ order.pickuptime }}
              </p>
            </div>
          </div>
          <hr>
          <div class="orderbody">
            <div class="commentandorderinformation">
              <div class="comment" *ngIf="order.comment">
                <app-svgicons [selectedSvg]="'comment'" [fillColor]="'#fff'" [svgHeight]="'16px'" [svgWidth]="'16px'">
                </app-svgicons>
                <p>{{ order.comment }}</p>
              </div>
              <div class="dishes" *ngFor="let dish of (order.dishes.length > 0) && !order.comment ? order.dishes.slice(0, 4) : order.dishes.slice(0, 3)">
                <div class="amountdishes">
                  <p>{{ dish.quantity }}x</p>
                  <div class="dishnameoption">
                    <p>{{ dish.name }}</p>
                    <span *ngFor="let option of dish.option">- {{ option }}</span>
                  </div>
                  <div class="overlay" [ngClass]="{'overlay-delivery' : order.type === 'Delivery', 'overlay-pickup' : order.type === 'Pick up', 'overlay-restaurant' : order.type === 'Restaurant' }" *ngIf="order.dishes.length > 3"></div>
                </div>
                <p class="ellipses" *ngIf="order.dishes.length > 3">...</p>
              </div>
            </div>
          </div>
          <div class="buttonsOrder">
            <div class="buttonRecover">
              <app-svgicons [selectedSvg]="'history'" [fillColor]="'#fff'"></app-svgicons>
              <p>Recover</p>
            </div>
            <div class="buttonViewMore" *ngIf="order.type !== 'Restaurant'" (click)="openModal(order)">
              <app-svgicons [selectedSvg]="'information'" [fillColor]="'#fff'"></app-svgicons>
              <p>View more</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  @if (modalVisible != null) {
  <!-- Modal -->
  <div class="modal">
    <div class="modalcontent">
      <div class="buttonclose">
        <app-svgicons [selectedSvg]="'close'" [fillColor]="'#FAA419'" [svgHeight]="'24px'" [svgWidth]="'24px'"
          (click)="closeModal()" class="closeIcon">
        </app-svgicons>
      </div>
      <div class="modalheader">
        <p *ngIf="modalVisible.id">#{{ modalVisible.id }}</p>
        <p class="namecustomer" *ngIf="modalVisible.namecustomer">{{ modalVisible.namecustomer }}</p>
        <div class="table-number" *ngIf="modalVisible.tablenumber">
          <app-svgicons [selectedSvg]="'table'" [fillColor]="'#000'" [svgHeight]="'30px'" [svgWidth]="'30px'">
          </app-svgicons>
          <p>{{ modalVisible.tablenumber}}</p>
        </div>
      </div>
      <hr>
      <div class="modalbody">
        <div class="commentandorderinformation">
          <div class="comment" *ngIf="modalVisible.comment">
            <app-svgicons [selectedSvg]="'comment'" [fillColor]="'#fff'">
            </app-svgicons>
            <p>{{ modalVisible.comment }}</p>
          </div>
          <div class="dishes" *ngFor="let dish of modalVisible.dishes">
            <div class="amountdishes">
              <p>{{ dish.quantity }}x</p>
              <div class="dishnameoption">
                <p>{{ dish.name }}</p>
                <span *ngIf="dish.option">- {{ dish.option }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  }
</body>
