<body>
  <header>
    <img src="../../assets/icon/rabbiticon.svg" alt="Icon" width="104">
    <div class="buttonsNavbar">
      <div class="buttonCurrent active">
        <app-svgicons [selectedSvg]="'current'" [fillColor]="'#FAA419'"></app-svgicons>
        <p>Current</p>
      </div>
      <div class="buttonHistory">
        <app-svgicons [selectedSvg]="'history'" [fillColor]="'#FAA419'"></app-svgicons>
        <p>History</p>
      </div>
      <div class="buttonCouriers">
        <app-svgicons [selectedSvg]="'delivery'" [fillColor]="'#FAA419'"></app-svgicons>
        <p>Couriers</p>
      </div>
    </div>
    <input type="search" class="searchbar" placeholder="Search...">
    <div class="buttonsFilter">
      <div class="totalOrders">
        <app-svgicons [selectedSvg]="'total'" [fillColor]="'#fff'"></app-svgicons>
        <p>Total orders 15 / Last week 50</p>
      </div>
      <div class="filterRestaurant" (click)="restaurantOrders()">
        <app-svgicons [selectedSvg]="'restaurant'" [fillColor]="'#fff'"></app-svgicons>
        <p>Restaurant</p>
        <p>2</p>
        <app-svgicons [selectedSvg]="'filter'" [fillColor]="'#fff'"></app-svgicons>
      </div>
      <div class="filterPickup">
        <app-svgicons [selectedSvg]="'pickup'" [fillColor]="'#fff'"></app-svgicons>
        <p>Pick up</p>
        <p>3</p>
        <app-svgicons [selectedSvg]="'filter'" [fillColor]="'#fff'"></app-svgicons>
      </div>
      <div class="filterDelivery">
        <app-svgicons [selectedSvg]="'delivery'" [fillColor]="'#fff'"></app-svgicons>
        <p>Delivery</p>
        <p>7</p>
        <app-svgicons [selectedSvg]="'filter'" [fillColor]="'#fff'"></app-svgicons>
      </div>
    </div>
    <div class="weathertime">
      <div class="weather">
        <app-svgicons [selectedSvg]="'weather'" [fillColor]="'#54565A'"></app-svgicons>
        <p>12°C</p>
      </div>
      <div class="datetime">{{ currentDateTime | date:"d-M-yyyy HH:mm" }}</div>
    </div>
  </header>

  <!-- In preparation -->
  <div class="orderscheme">
    <div class="titletypeorder">
      <app-svgicons [selectedSvg]="'hourglass'" [fillColor]="'#FAA419'" [svgHeight]="'24px'" [svgWidth]="'24px'">
      </app-svgicons>
      <p>In preparation</p>
      <hr>
    </div>
    <app-orders [orders]="inpreparationorders" [showRecoverButton]="false">
    </app-orders>
  </div>

  <!-- Ready for pick up -->
  <div class="orderscheme">
    <div class="titletypeorder">
      <app-svgicons [selectedSvg]="'check'" [fillColor]="'#FAA419'" [svgHeight]="'24px'" [svgWidth]="'24px'">
      </app-svgicons>
      <p>Ready for pick up</p>
      <hr>
    </div>
    <app-orders [orders]="readyforpickuporders" [showRecoverButton]="true">
    </app-orders>
  </div>

  <!-- In transit -->
  <div class="orderscheme">
    <div class="titletypeorder">
      <app-svgicons [selectedSvg]="'delivery'" [fillColor]="'#FAA419'" [svgHeight]="'24px'" [svgWidth]="'24px'">
      </app-svgicons>
      <p>In transit</p>
      <hr>
    </div>
    <app-orders [orders]="intransitorders" [showRecoverButton]="true">
    </app-orders>
  </div>
</body>
