<div class="orders-container">

  <!-- Ready -->
  <div class="ordersready">
    <div class="orderstatus">
      <app-svgicons [selectedSvg]="'check'" [fillColor]="'#FAA419'"></app-svgicons>
      <p>Ready for pick up</p>
    </div>
    <div class="orders">
      <div class="order-restaurant ready-order" *ngFor="let order of restaurantOrdersReady(); let i = index">
        <div class="orderheader">
          <div class="table-number">
            <app-svgicons [selectedSvg]="'table'" [fillColor]="'#000'"></app-svgicons>
            <p>{{ order.tablenumber }}</p>
          </div>
          <div class="buttonHandle" (click)="handleOrderRestaurant(i)">
            <app-svgicons [selectedSvg]="'check'" [fillColor]="'#fff'"></app-svgicons>
            <p>Handle</p>
          </div>
        </div>
        <hr>
        <div class="orderbody">
          <div class="commentandorderinformation">
            <div class="comment" *ngIf="order.comment">
              <app-svgicons [selectedSvg]="'comment'" [fillColor]="'#fff'" [svgHeight]="'16px'" [svgWidth]="'16px'">
              </app-svgicons>
              <p>{{ order.comment }}</p>
            </div>
            <div class="dishes" *ngFor="let dish of order.dishes">
              <div class="amountdishes">
                <p>{{ dish.quantity }}x </p>
                <div class="dishnameoption">
                  <p>{{ dish.name }}</p>
                  <span *ngFor="let option of dish.option">- {{ option }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="overlay ready">
          <p class="ellipsis">...</p>
        </div>
        <div class="buttonViewMore" (click)="openModal(order)">
          <app-svgicons [selectedSvg]="'information'" [fillColor]="'#fff'"></app-svgicons>
          <p>View more</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Preparation -->
  <div class="orderspreparation">
    <div class="orderstatus">
      <app-svgicons [selectedSvg]="'hourglass'" [fillColor]="'#FAA419'"></app-svgicons>
      <p>In preparation</p>
    </div>
    <div class="orders">
      <div class="order-restaurant" *ngFor="let order of restaurantOrdersPreparation(); let i = index">
        <div class="orderheader">
          <div class="table-number">
            <app-svgicons [selectedSvg]="'table'" [fillColor]="'#000'"></app-svgicons>
            <p>{{ order.tablenumber }}</p>
          </div>
        </div>
        <hr>
        <div class="orderbody">
          <div class="commentandorderinformation">
            <div class="comment" *ngIf="order.comment">
              <app-svgicons [selectedSvg]="'comment'" [fillColor]="'#fff'" [svgHeight]="'16px'" [svgWidth]="'16px'">
              </app-svgicons>
              <p>{{ order.comment }}</p>
            </div>
            <div class="dishes" *ngFor="let dish of order.dishes">
              <div class="amountdishes">
                <p>{{ dish.quantity }}x </p>
                <div class="dishnameoption">
                  <p>{{ dish.name }}</p>
                  <span *ngFor="let option of dish.option">- {{ option }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="overlay">
          <p class="ellipsis">...</p>
        </div>
        <div class="buttonViewMore" (click)="openModal(order)">
          <app-svgicons [selectedSvg]="'information'" [fillColor]="'#fff'"></app-svgicons>
          <p>View more</p>
        </div>
      </div>
    </div>
  </div>
</div>

@if (modalVisible != null) {
  <!-- Modal -->
  <div class="modal">
    <div class="modalcontent" [ngClass]="{'modalcontent-ready' : modalVisible.prepared === true}">
      <div class="buttonclose">
        <app-svgicons [selectedSvg]="'close'" [fillColor]="'#FAA419'" [svgHeight]="'24px'" [svgWidth]="'24px'"
          (click)="closeModal()" class="closeIcon">
        </app-svgicons>
      </div>
      <div class="modalheader">
        <p *ngIf="modalVisible.id">#{{ modalVisible.id }}</p>
        <p class="namecustomer" *ngIf="modalVisible.namecustomer">{{ modalVisible.namecustomer }}</p>
        <div class="table-number" *ngIf="modalVisible.tablenumber">
          <app-svgicons [selectedSvg]="'table'" [fillColor]="'#000'" [svgHeight]="'30px'" [svgWidth]="'30px'">
          </app-svgicons>
          <p>{{ modalVisible.tablenumber}}</p>
        </div>
      </div>
      <hr>
      <div class="modalbody">
        <div class="commentandorderinformation">
          <div class="comment" *ngIf="modalVisible.comment">
            <app-svgicons [selectedSvg]="'comment'" [fillColor]="'#fff'" svgWidth="24px" svgHeight="24px">
            </app-svgicons>
            <p>{{ modalVisible.comment }}</p>
          </div>
          <div class="dishes" *ngFor="let dish of modalVisible.dishes">
            <div class="amountdishes">
              <p>{{ dish.quantity }}x</p>
              <div class="dishnameoption">
                <p>{{ dish.name }}</p>
                <span *ngIf="dish.option">- {{ dish.option }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  }
