$primary-500: #FAA419;
$secondary-500: #54565A;
$secondary-300: #87898C;
$success-border: #4CAF50;
$info-border: #2196F3;
$white: #fff;
$dark-500: #1C1B20;
$order-ready: #4caf4f36;
$greynavbar: #EBEBEB;
$restaurant: #16A9D7;
$pickup: #EBC500;
$delivery: #8A2BE2;
$warning-border: #FF5722;

body {
  margin: 0;
  padding: 10px 32px;
  gap: 24px;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-between;
  gap: auto;
  align-items: center;

  .buttonsNavbar {
    display: flex;
    flex-direction: row;
    gap: 10px;
    border-radius: 10px;
    background-color: $greynavbar;

    .buttonCurrent, .buttonHistory, .buttonCouriers {
      background-color: $greynavbar;
      color: $primary-500;
      display: flex;
      flex-direction: row;
      gap: 5px;
      padding: 8px 10px;
      font-weight: 500;
      border-radius: 10px;
      align-items: center;

      &.active {
        background-color: $primary-500;
        color: $white;
      }
    }
  }

  .searchbar {
    background-color: $greynavbar;
    border: none;
    border-radius: 20px;
    padding: 8px 16px;
    width: 325px;
  }

  .buttonsFilter {
    display: flex;
    flex-direction: row;
    gap: 14px;
    color: $white;

    .totalOrders, .filterRestaurant, .filterPickup, .filterDelivery {
      display: flex;
      flex-direction: row;
      gap: 5px;
      align-items: center;
      padding: 8px 10px;
      font-size: 16px;
      font-weight: 500;
      border-radius: 30px;
      cursor: pointer;

      &.totalOrders {
        cursor:auto;
      }
    }

    .totalOrders {
      background-color: $success-border;
    }

    .filterRestaurant {
      background-color: $restaurant;
    }

    .filterPickup {
      background-color: $pickup;
    }

    .filterDelivery {
      background-color: $delivery;
    }
  }
  
  .weathertime {
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-size: 16px;
    font-weight: 500;
    color: $secondary-500;

    .weather {
      display: flex;
      flex-direction: row;
      gap: 3px;
    }
  }
}



@keyframes fadeOut {
  to {
    opacity: 0;
  }
}

.modal {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  justify-items: center;
  flex-direction: column;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);

  .modalcontent {
    display: flex;
    flex-direction: column;
    padding: 32px 24px 32px 24px;
    border-radius: 10px;
    width: 40%;
    font-size: 18px;
    gap: 12px;

    .modalheader {
      display: flex;
      flex-direction: column;
      gap: 4px;

      .modalheaderrow {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 24px;
        font-weight: normal;

        .modalordertype {
          display: flex;
          flex-direction: row;
          gap: 10px;
          align-items: center;
          font-size: 24px;
        }
      }

      .modalheadersecondrow {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .orderedtime {
          color: $secondary-300;
          font-size: 16px;
        }

        .pickuptime {
          font-size: 16px;
          color: $white;
          padding: 2px 6px;
          border-radius: 15px;
          background-color: $delivery;
          font-weight: 500;
        }
  
        .pickuptime-delivery {
          background-color: $delivery;
        }
  
        .pickuptime-pickup {
          background-color: $pickup;
        }
  
        .pickuptime-restaurant {
          background-color: $restaurant;
        }
      }

      .modalheaderthirdrow {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: $secondary-300;
        font-size: 16px;
        gap: 4px;
      }
    }

    .table-number {
      display: flex;
      flex-direction: row;
      gap: 10px;
      font-size: 20px;
    }

    .namecustomer {
      font-size: 14px;
      color: $secondary-300;
      font-weight: normal;
    }

    .address {
      font-size: 14px;
      color: $secondary-300;
      font-weight: normal;
    }

    .buttonclose {
      display: flex;
      justify-content: flex-end;

      .closeIcon {
        cursor: pointer;
      }
    }

    .commentandorderinformation {
      display: flex;
      flex-direction: column;
      gap: 16px;
      position: relative;

      .ellipses {
        position: absolute;
        top: 119px;
        left: 119px;
        align-items: center;
        justify-content: center;
        justify-items: center;
      }

      .comment {
        background-color: $info-border;
        border-radius: 5px;
        padding: 7px;
        color: $white;
        font-size: 18px;
        font-weight: 400;
        display: flex;
        flex-direction: row;
        gap: 5px;
        padding: 10px 6px;
      }

      .deliveryinformation {
        display: flex;
        flex-direction: column;
        font-size: 13px;
        gap: 6px;
      }

      .dishes {
        display: flex;
        flex-direction: row;
        gap: 10px;
        font-weight: 500;
        align-items: flex-start;

        .amountdishes {
          display: flex;
          flex-direction: row;
          gap: 10px;

          .dishnameoption {
            display: flex;
            flex-direction: column;
            gap: 6px;

            span {
              font-size: 18px;
              font-weight: normal;
              color: $secondary-300;
            }
          }
        }
      }
    }
  }
}

.modal-delivery-order {
  background-color: #F5EEFD;
  border: 1px solid $delivery;

  hr {
    border: none;
    border-top: 1px solid $delivery
  }
}

.modal-pickup-order {
  background-color: #FDF9E7;
  border: 1px solid $pickup;

  hr {
    border: none;
    border-top: 1px solid $pickup;
  }
}

.modal-restaurant-order {
  background-color: #EFF9FC;
  border: 1px solid $restaurant;

  hr {
    border: none;
    border-top: 1px solid $restaurant;
  }
}