<body>
  <header>
    <img src="../../assets/icon/rabbiticon.svg" alt="Icon" width="104">
    <div class="weathertime">
      <div class="weather">Weerbericht: 20°C</div>
      <div class="datetime">22 mei 2024 - 10:00</div>
    </div>
  </header>

  <div class="orders-container">
    <div class="order" *ngFor="let order of orders">
      <div class="orderheader">
        <div class="ordertype">
          <app-svgicons [selectedSvg]="order.icon" [fillColor]="'#FAA419'"></app-svgicons>
          <p>{{ order.type | titlecase }}</p>
        </div>
        <p>#{{ order.id }}</p>
      </div>
      <hr>
      <div class="orderbody">
        <div class="dishes" *ngFor="let dish of order.dishes">
          <input type="checkbox" [checked]="dish.prepared" (change)="togglePreparedStatus(dish)" />
          <div class="amountdishes" [ngClass]="{'strikethrough': dish.prepared}" (click)="togglePreparedStatus(dish)">
            <p>{{ dish.quantity }}x </p>
            <p>{{ dish.name }}</p>
          </div>
        </div>
      </div>
      <hr>
      <button class="buttonprepared">
        Mark as prepared
      </button>
    </div>

    <div class="sidebar">Sidebar</div>
  </div>
</body>
