$primary-500: #FAA419;
$secondary-500: #54565A;
$secondary-300: #87898C;
$success-border: #4CAF50;
$info-border: #2196F3;
$white: #fff;
$dark-500: #1C1B20;
$order-ready: #4caf4f36;

.orders-container {
  display: flex;
  flex-direction: row;
  gap: 290px;

  .ordersready,
  .orderspreparation {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .orderstatus {
      display: flex;
      flex-direction: row;
      font-size: 18px;
      gap: 5px;
    }

    .orders {
      display: flex;
      flex-direction: row;
      gap: 16px;
    }
  }
}

.order-pickup {
  width: 290px;
  height: 235px;
  padding: 12px 16px;
  border: 1px solid $primary-500;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: $dark-500;
  overflow: hidden;
  position: relative;

  &.ready-order {
    background-color: $order-ready;
  }

  hr {
    border: none;
    border-top: 1px solid $primary-500;
  }

  .orderheader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 16px;
    font-weight: normal;
    align-items: center;
    height: 30px;

    .orderid {
      display: flex;
      flex-direction: row;
      gap: 5px;
    }

    .id-name {
      display: flex;
      flex-direction: column;

      .namecustomer {
        font-size: 13px;
        color: $secondary-300;
      }
    }

    .buttonHandle {
      background-color: $success-border;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 14px;
      padding: 5px 7px 5px 7px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 3px;
    }
  }

  .orderbody {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    flex-grow: 1;
    gap: 12px;
    position: relative;
    overflow: hidden;

    .commentandorderinformation {
      display: flex;
      flex-direction: column;
      gap: 6px;
      position: relative;

      .comment {
        background-color: $info-border;
        border-radius: 5px;
        padding: 7px;
        color: $white;
        font-size: 14px;
        font-weight: 400;
        display: flex;
        flex-direction: row;
        gap: 5px;
      }

      .deliveryinformation {
        display: flex;
        flex-direction: column;
        font-size: 13px;
      }

      .dishes {
        display: flex;
        flex-direction: row;
        gap: 10px;
        font-weight: 500;
        align-items: flex-start;

        .amountdishes {
          display: flex;
          flex-direction: row;
          gap: 10px;

          .dishnameoption {
            display: flex;
            flex-direction: column;
            gap: 6px;

            span {
              font-size: 14px;
              font-weight: normal;
              color: $secondary-300;
            }
          }
        }
      }
    }
  }
}

.overlay {
  position: absolute;
  bottom: 50px;
  left: 0;
  right: 0;
  height: 13%;
  pointer-events: none;
  align-items: center;
  display: flex;
  justify-content: center;
  justify-items: center;
  background: linear-gradient(to bottom, #ffffff9c, #FFFFFF);
  pointer-events: none;

  &.ready {
    background: linear-gradient(to bottom, #d9eedaa5, #D9EEDA);
  }
}

.buttonViewMore {
  background-color: $primary-500;
  color: $white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  padding: 5px 7px 5px 7px;
  align-self: flex-end;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 3px;
}

.fade-out {
  animation: fadeOut 2s forwards;
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}

.modal {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  justify-items: center;
  flex-direction: column;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);

  .modalcontent {
    display: flex;
    flex-direction: column;
    padding: 32px 24px 32px 24px;
    background-color: $white;
    border: 1px solid $primary-500;
    border-radius: 10px;
    width: 40%;
    font-size: 18px;
    gap: 12px;

    hr {
      width: 100%;
      border: none;
      border-top: 1px solid $primary-500;
    }

    .table-number {
      display: flex;
      flex-direction: row;
      gap: 10px;
      font-size: 20px;
    }

    .namecustomer {
      font-size: 14px;
      color: $secondary-300;
      font-weight: normal;
    }

    .buttonclose {
      display: flex;
      justify-content: flex-end;

      .closeIcon {
        cursor: pointer;
      }
    }

    .commentandorderinformation {
      display: flex;
      flex-direction: column;
      gap: 16px;
      position: relative;

      .comment {
        background-color: $info-border;
        border-radius: 5px;
        padding: 7px;
        color: $white;
        font-size: 18px;
        font-weight: 400;
        display: flex;
        flex-direction: row;
        gap: 5px;
        padding: 10px 6px;
      }

      .deliveryinformation {
        display: flex;
        flex-direction: column;
        font-size: 13px;
        gap: 6px;
      }

      .dishes {
        display: flex;
        flex-direction: row;
        gap: 10px;
        font-weight: 500;
        align-items: flex-start;

        .amountdishes {
          display: flex;
          flex-direction: row;
          gap: 10px;

          .dishnameoption {
            display: flex;
            flex-direction: column;
            gap: 6px;

            span {
              font-size: 18px;
              font-weight: normal;
              color: $secondary-300;
            }
          }
        }
      }
    }
  }

  .modalcontent-ready {
    background-color: #D9EEDA;
  }
}
