<body>
  <header>
    <div class="navbarLeft">
      <img src="../../assets/icon/rabbiticon.svg" alt="Icon" width="104">
      <div class="buttonsNavbar">
        <div routerLink="/floormanager" class="buttonCurrent">
          <app-svgicons [selectedSvg]="'current'" [fillColor]="'#FAA419'"></app-svgicons>
          <p>Current</p>
        </div>
        <div routerLink="/floormanager/history" class="buttonHistory">
          <app-svgicons [selectedSvg]="'history'" [fillColor]="'#FAA419'"></app-svgicons>
          <p>History</p>
        </div>
        <div routerLink="/floormanager/couriers" class="buttonCouriers active">
          <app-svgicons [selectedSvg]="'delivery'" [fillColor]="'#fff'"></app-svgicons>
          <p>Couriers</p>
        </div>
      </div>
    </div>
    <div class="weathertime">
      <div class="weather">
        <app-svgicons [selectedSvg]="'weather'" [fillColor]="'#54565A'"></app-svgicons>
        <p>12°C</p>
      </div>
      <div class="datetime">{{ currentDateTime | date:"d-M-yyyy HH:mm:ss" }}</div>
    </div>
  </header>

  <div class="container">
    <div class="deliverypeople">
      <div class="card" *ngFor="let order of deliveryorders">
        <div class="header">
          <div class="headerleft">
            <img class="picture" [src]="order.picture">
            <p class="name">{{ order.name }}</p>
            <app-svgicons *ngIf="order.deliverycompanyicon" [selectedSvg]="order.deliverycompanyicon" [fillColor]="'#000'" svgHeight="28px" svgWidth="28px">
            </app-svgicons>
            <p class="orderid"># {{ order.id }}</p>
          </div>
          <div class="headerright">
            <div class="returnbar">
              <div class="icons">
                <app-svgicons [selectedSvg]="'restaurant'" [fillColor]="'#000'" svgHeight="22px" svgWidth="22px">
                </app-svgicons>
                <app-svgicons [selectedSvg]="'home'" [fillColor]="'#000'" svgHeight="22px" svgWidth="22px">
                </app-svgicons>
                <app-svgicons [selectedSvg]="'restaurant'" [fillColor]="'#000'" svgHeight="22px" svgWidth="22px">
                </app-svgicons>
              </div>
              <div class="processbar"></div>
            </div>
            <div class="returntime">
              <p>{{ order.returntime}}</p>
            </div>
          </div>
        </div>
        <hr>
        <div class="body">
          <p class="address">{{ order.address }}</p>
          <div class="comment" *ngIf="order.comment">
            <app-svgicons [selectedSvg]="'comment'" [fillColor]="'#fff'" svgHeight="20px" svgWidth="20px">
            </app-svgicons>
            <p>{{ order.comment }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="map" id="map" style="height: 950px; width: 890px;"></div>
  </div>
</body>
